<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
        
        <style type="text/css">
            /* Inline minimal css for initial rendering */
            body {
                background: #242436;
            }
        </style>
        
    </head>
    
    <body>
        <div>Hallo, du bist eingeloggt</div>
        <form action="/createLobby" method="get">
            <button type="submit">Lobby erstellen</button>
        </form>
        <form action="/joinLobbyPost" method="post">
            <input type="text" name="lobbyPassword" maxlength="4" placeholder="Passwort für Lobby" required/>
            <button type="submit">Lobby beitreten</button>
        </form>
        <form action="/logoutPost" method="post">
            <button type="submit">Abmelden</button>
        </form>
        
        <div>Letzten 3 Spielernamen:
            <% for (let i = 0; i < lastThreeNames.length; i++) {
                if (i < lastThreeNames.length-1) { %>
                    <%= lastThreeNames[i] %> ,
                <% } else { %>
                    <%= lastThreeNames[i] %>
                <% }
            } %>
        </div>
        <div>Spielzähler: <%= gameCount %></div>
        <div>Tipprichtigkeit: <%= correctGuesses %></div>
        <div>Siege: <%= winCount %></div>
        <div>Hexenzähler: <%= witchCount %></div>
        
    </body>
</html>