<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
        
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>
    
    <body>
        <div>Hallo, du bist eingeloggt</div>
        <form action="/createLobby" method="get">
            <button type="submit">Lobby erstellen</button>
        </form>
        <form action="/joinLobbyPost" method="post">
            <input type="text" name="lobbyPassword" maxlength="4" placeholder="Passwort für Lobby" required/>
            <button type="submit">Lobby beitreten</button>
        </form>
        <form action="/logoutPost" method="post">
            <button type="submit">Abmelden</button>
        </form>
        
        <div>Letzten 3 Spielernamen: <%= lastThreeNames %></div>
        <div>Spielzähler: <%= gameCount %></div>
        <div>Tipprichtigkeit: <%= correctGuesses %></div>
        <div>Siege: <%= winLoseRatio %></div>
        <div>Hexenzähler: <%= witchCount %></div>
        
    </body>
</html>